tqdm
pydantic
pystan
requests
xgboost
fbprophet
lightgbm
bayesian-optimization
pandas
holidays
python-dateutil
numpy
scipy
mxnet
gluonts
tensorflow
scikit-learn
matplotlib
statsmodels
beautifultable
tabulate
pmdarima
shap
Jinja2